<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Document</title>
    <link th:href = "@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mb-4">Estacionamento</h1>
            <a href="/attendant" class="btn btn-primary btn-lg btn-block mb-4" th:href="@{/attendant}">Registrar atendente</a>
        </div>
    </div>
</div>
</body>
</html>