<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parking</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <style>
        #image-container {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
        <div>
            <a class="navbar-brand" href="/">Estacionamento</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/attendant" th:href="@{/attendant}">Registrar Atendente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/attendant/list" th:href="@{/attendant/list}">Ver Atendentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vehicle/list" th:href="@{/vehicle/list}">Veículos com saídas não registradas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="image-container">
    <img src="/assets/img/parking.png">
</div>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>
