<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar hora de saída</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body onload="configurePage()">
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mb-4">Registrar hora de saída</h1>
            <form action="/ticket/departure-time/save" method="post">
                <div class="form-group">
                    <label for="vehicleId">Veículo</label>
                    <select class="form-control" id="vehicleId" name="vehicleId" required>
                        <option th:each="vehicle : ${vehicles}" th:value="${vehicle.left.id}" th:text="${vehicle.left.licensePlate}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="entryTime">Data e Hora de Saída</label>
                    <input type="datetime-local" class="form-control" id="entryTime" name="departureTime" required>
                </div>
                <div class="text-center">
                    <a class="btn btn-secondary" href="/">Voltar</a>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function configurePage() {
        selectVehicle();
        setMaxDepartureTime();
    }

    function selectVehicle() {
        let selectedLicensePlate = "[[${selectedLicensePlate}]]";
        if (selectedLicensePlate) {
            var select = document.getElementById("vehicleId");
            for(var i = 0; i < select.options.length; i++) {
                if(select.options[i].text == selectedLicensePlate) {
                    select.options[i].selected = true;
                    break;
                }
            }
        }
    }

    function setMaxDepartureTime() {
        let now = new Date();
        now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
        document.getElementById('entryTime').max = now.toISOString().slice(0,16);
    }
</script>

</body>
</html>
