<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ticket</title>
    <link th:href="@{/assets/fontawesome/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Confirmação do Registro de Entrada</h4>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Placa do veículo:</label>
                <div class="col-sm-9">
                    <p class="form-control-plaintext" th:text="${licensePlate}"></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Data e hora de entrada:</label>
                <div class="col-sm-9">
                    <p class="form-control-plaintext" th:text="${entryTime}"></p>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a th:href="@{/vehicle/list}" class="btn btn-primary">Voltar</a>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
