<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:java="java.time.format.DateTimeFormatter">
<head>
    <meta charset="UTF-8">
    <title>Veículos</title>
    <script th:src="@{/assets/fontawesome/js/all.min.js}"></script>
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <link th:href="@{/assets/fontawesome/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mb-4">Veículos com saída não registrada</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Data de entrada</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="vehicle, stat : ${vehicles}">
                    <td th:text="${stat.count}"></td>
                    <td th:text="${vehicle.left.licensePlate}"></td>
                    <td th:text="${#temporals.format(vehicle.right.entryTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
                    <td>
                        <div class="dropdown dropright">
                            <button class="btn btn-primary dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    title="Ações">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" th:href="@{/ticket/departure-time}">Registrar saída de veículo</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center">
                <a class="btn btn-secondary" href="/">Voltar</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
